@import url('https://fonts.googleapis.com/css2?family=Chokokutai&family=Dancing+Script:wght@400..700&&family=Shadows+Into+Light&display=swap&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400');


body{
    margin: 0;
    background-color: #1e8940;
}
p{
    padding: 0 20px;
    text-align: center;
    font-size: 1.25em;
}
.logo{
    width: 100px;
}
nav{
    background-color: #008CC3;
    display: grid;
    grid-template-columns: 100px 1fr;
}
.logo-hyperlink{
    width: 100px;
    height: 100px;
}
.ul-centered-children{
    grid-column-start: 2;
    display:flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav-link{
    outline: none;
    padding: 20px;
    text-decoration: none;
    border: solid 2px blue;
    background-color: #9de0c7;
}
.nav-link:hover{
    padding: 18px;
    border: solid 4px blue;
}
#Survival-grid{
    display: grid;
    grid-template-columns: 1fr 750px;
}
#rival-grid{
    display: grid;
    grid-template-rows: repeat(10, 65.75px);
}
#Arrival-image{
    display: block;
    width: 75%;
    margin: 0 auto;
}
#Survival-image{
    width: 700px;
    margin: 0 auto;
}
#rival-image{
    grid-row: 1/8;
    grid-column: 1/2;
    margin: 0 auto;
    padding: 0 200px;
    background: linear-gradient(to bottom, white, black);
}
h1{
    text-align: center;
    font-family: "Old Standard TT",Georgia, 'Times New Roman', Times, serif;
}
#win-text{
    font-size: 5em;
    background-color: #9de0c7;
}
#win-paragraph{
    font-size: 4em;
}
.Survival-h1{
    text-align: left;
    padding-left: 20px;
}
.narration{
    background-color: #008CC3;
    border: solid 2px #008CC3;
}
.narration-text{
    font-family: "Shadows Into Light", "Dancing Script", 'Times New Roman';
    padding: 20px;
}
#rival-text{
    z-index: 2;
    margin: 0 50px;
    background-color: #9de0c7;
    grid-row: 7/11;
    grid-column: 1/2;
    box-shadow: hsl(158, 19%, 51%) 5px 10px;
    max-width: 600px;
    margin: 0 auto;
}
h2{
    margin-top: 0;
    padding: 10px 0 0 10px;
    font-family: "Old Standard TT",Georgia, 'Times New Roman', Times, serif;
}
h2{
    margin-top: 0;
    padding: 10px 0 0 10px;
    font-family: "Old Standard TT",Georgia, 'Times New Roman', Times, serif;
}
.choices{
    background-color: #9de0c7;
    height: 100px;
}
.social-media-box{
    display: flex;

    justify-content: center;
}
.socialmedia-icon{
    width: 64px;
    height: 64px;
    margin: 0 20px;
}

@media (max-width: 1000px){
    #Arrival-image{
        width: 100%;
    }
    #Survival-image{
        width: 350px;
    }
    #Survival-grid{
        grid-template-columns: 1fr 400px;
    }
    #rival-image{
        background: none;
        padding: 0;
        margin: 0 auto;
    }
}
